.headerContainer {
  width: 100%;
  height: auto;
  background-color: #d6489d;
  color: white;
  display: flex;
  flex-direction: column;
}

.logoTitleContainer {
  margin: 4%;
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  font-weight: bold;
}

.itemLeft {
  position: absolute;
  overflow: hidden;
  border-radius: 150px;
  width: 250px;
  height: 250px;
  top: -80px;
  left: -60px;
  /* background-size: scale-down; */
}

.itemRight {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}

.liens {
  background-color: #8c5c79;
  height: 50px;
  font-size: 18px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
