.noclick {
  width: 111px;
  height: 111px;
  background: #d6489d;
  font-size: 22px;
  line-height: 1.2;
  font-weight: lighter;
  color: #dec7cb;
  position: relative;
  margin: 30% 0;
  /* margin: 5% auto; */
}

.clickon {
  width: 111px;
  height: 111px;
  background: #d64ffd;
  /* opacity: 0.5; */
  font-size: 22px;
  font-weight: lighter;
  color: #dec7cb;
  border-style: solid;
  border-color: #d6489d;
  margin: 30% 0;
  animation: anim 2s infinite;
  animation-name: heart;
}

@keyframes heart {
  from {
    transform: 0;
  }
  to {
    transform: rotate(45deg);
    /* {opacity(0.5);} */
  }
}

/* .noclick::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: green;
  position: absolute;
  border-radius: 50%;
  transform: translateY(-50%);
}

.clickone::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: pink;
  position: absolute;
  border-radius: 50%;
  transform: translateX(-50%);
} */

@keyframes lol {
  from {
    /* transform: scale(1); */
  }
  to {
    /* transform: scale(2) rotate(90deg); */
  }
}
/* .open {
  width: 111px;
  height: 111px;
  background: #d6489d;
  font-size: 22px;
  line-height: 1.2;
  font-weight: lighter;
  color: #dec7cb;
  position: relative;
  border: solid;
}

.close {
  background: grey;
} */
/* .button {
  width: 111px;
  height: 111px;
  background: #d6489d;
  font-size: 22px;
  line-height: 1.2;
  font-weight: lighter;
  color: #dec7cb;
  position: relative;
  border: solid;
  /* top: -290px;
} */

/* .box {
  width: 200px;
  height: 200px;
  background-color: #d6489d;
  background: orange;
} */

.box {
  width: 111px;
  height: 111px;
  background: #d6489d;
  font-size: 22px;
  line-height: 1.2;
  font-weight: lighter;
  color: #dec7cb;
  position: relative;
  border: solid;
}

.animclasse {
  animation: anim 4s infinite;
}

/* .square::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: pink;
  position: absolute;
  border-radius: 50%;
  transform: translateY(-50%);
  animation: beater 6s linear infinite;
}

.square::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: pink;
  position: absolute;
  border-radius: 50%;
  transform: translateX(-50%);
  animation: beater 6s linear infinite;
} */

/* Define the keyframes for the animation */
/* @keyframes beater {
  0% {
    background: red;
  }

  15% {
    background: orange;
  }

  30% {
    transform: scale(0.5);
    background: yellow;
  }

  45% {
    background: greenyellow;
  }

  60% {
    background: blue;
  }

  75% {
    background: indigo;
  }

  100% {
    background: violet;
  }
} */
